.div{
    display: flex;
    justify-content: space-around;
}

.navbarconfig{
    box-shadow: 10px 5px 5px rgba(70, 70, 70, 0.4);
}

.bgblue{
    background-image: url(../img/backvida.png);
}

.tm-social{
    height: 35px;
}
.tm-social-photo{
    height: 60px;
}
.navbarimg{
    height: 30px;
}

.bgbloco1{
    background-image: url();
}

.card1{
    width: 10rem;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.8); */
}

